.caption {
    background-image: url(./image_1.jpeg);
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

body {
    font-family: Helvetica;
}

h2.brushes {
    background-color: mediumspringgreen;
}

h2.frames {
    background-color: lightcoral;
}

h2.paint {
    background-color: skyblue;
}

span.price {
    font-weight: bold;
    color:blue;
}